.topMenu {
  font-family: var(--font-poppins);
  letter-spacing: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options {
  display: flex;
  margin-left: 0;
  gap: 16px;
}

.option {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block-end: 3px;
  background-color: #111;
  cursor: pointer;
  border: none;
}

.option:hover {
  background-color: #333;
}

html[data-theme="light"] .option {
  background-color: var(--secondary-white);
}
