.headingContent h1 {
  font-size: 40px;
  margin-block-start: 8px;
  line-height: 1.2;
  letter-spacing: -0.5%;
  opacity: 0;
}

.headingContent {
  flex: 0 1 45%;
  font-family: var(--font-montserrat);
  display: flex;
  flex-direction: column;
}

.headingContentInner {
  position: sticky;
  top: 40px;
}

.socialContainer {
  opacity: 0;
}
.category {
  position: relative;
  margin-right: 30px;
}

.category::after {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: orange;
  border-radius: 50px;
  top: 40%;
  right: -16px;
  content: "";
}

.category,
.date {
  margin-block: 8px;
  display: inline;
  opacity: 0;
}
