.container {
  margin-inline: 20px;
}

@media (width >= 795) {
  .container {
    margin-inline: 60px;
  }
}

@media (width >= 1024px) {
  .container {
    margin-inline: 120px;
  }
}

@media (width >= 1440px) {
  .container {
    margin-inline: 260px;
  }
}

.visually_hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
